@use "../utilities/" as *;

.service__card {
  padding: 80px 20px;
  border: 1px solid var(--clr-bg);
  transition: all 250ms ease-in-out;
  &:hover {
    border-color: var(--clr-white);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    .service__icon {
      border-color: var(--clr-primary);
    }
    .service__title {
      color: var(--clr-primary);
    }
  }
}

.service__icon {
  font-size: 28px;
  line-height: 1;
  display: inline-block;
  padding: 18px;
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  border: 1px solid var(--clr-bg);
  margin-bottom: 20px;
  transition: border-color 250ms ease-in-out;
}

.service__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 15px;
  transition: color 250ms ease-in-out;
}

.service__text {
  font-size: 14px;
  line-height: 24px;
}
