@use "../utilities/" as *;

:root {
  --font-open: "Open Sans", sans-serif; //Weights 400,600
  --font-roboto: "Roboto", sans-serif; //Weights 700
  --font-poppins: "Poppins", sans-serif; //Weights 600
}
