@use "../utilities/" as *;

body {
  font-family: var(--font-open);
  color: var(--clr-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto);
  color: var(--clr-title);
}

.section-header {
  text-align: center;
  margin-bottom: 30px;
  .section-title {
    span {
      background-color: var(--clr-bg);
      border-radius: 100px;
      font-family: var(--font-roboto);
      font-size: 13px;
      font-weight: 700;
      padding: 8px 20px;
      color: var(--clr-primary);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .section-tag {
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 0;
    span {
      color: var(--clr-primary);
    }
  }
  .section-text {
    font-family: var(--font-open);
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    @include breakpoint(xl) {
      width: 50%;
      margin-inline: auto;
    }
  }
}
